<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<!--<add key="TFS_SERVER_URL" value="http://s-sftmfsp-s01:8080/"/>-->
		<!--<add key="TFS_SERVER_URL" value="http://s-ctrlverp-s01.besp.dsp.gbes:8080/"/>-->
		<add key="TFS_SERVER_URL" value="http://tfs2k12fe.marte.gbes:8080/tfs/"/>
  </appSettings>
</configuration>